/* This is to prevent the entire page from being scrollable */
html, body {
    height: 100%;
    overflow: hidden;
}

.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.nav{
    list-style-type: none;
    padding: 0;
}

.nav-item{
    display: block
}

.nav-link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a shadow */
    border-radius: 5px; /* Rounded corners for buttons */
    margin-bottom: 5px; /* Adds space between buttons */
}

.nav-link:hover, .nav-link:focus{
    background-color: #e9ecef;
    color: #007bff;
    text-decoration: none; /*no underlines on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .sidebar{
        width: 100%
        position: static;
    }
    .main-content{
        margin-left: 0;
    }
}

.container {
    background-image: url('../static/images/welcome_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Or the height of your image */
    width: 100vw; /* Or the width of your image */
    position: relative; /* Needed for absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    color: #DB37F5;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* Removes default margin */
    padding-top: 10vh; /* Adjust as needed */
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 30px; /* Adjust as needed */
    color: black;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* Removes default margin */
}

.button {
    display: inline-block;
    margin: 1em auto; /* Center the buttons horizontally */
    padding: 1em 2em;
    background-color: #2DA530; /* Replace with your actual button color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-button {
  top: 65%;
}

.register-button {
    top: 80%;
    /* Additional styles for register button if needed */
}

.container-fluid{
    display: flex;
    height: 100vh; /* full height */
}

.sidebar {
    position: fixed;
    top: 0px; /* Adjust this if the header height changes */
    left: 0;
    width: 250px; /* Adjust width as necessary */
    background-color: #f8f9fa;
    padding-top: 20px;
    z-index: 1000;
    border-right: 2px solid #dee2e6; /* This is your vertical line */
    overflow-y: auto;
    height: calc(100% - 40px);
}


.main-content{
    margin-top: 60px;
    margin-left: 250px;
    padding: 20px;
    overflow-y: auto;
}