/* This is to prevent the entire page from being scrollable */
html, body {
    height: 100%;
    width: 101%;
    overflow-x: hidden;
}

/* Housepoints Section */
.housepoints-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left side) */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px; /* Adjust as needed to shift left */
}

.housepoints-header {
    background-color: #E0BBFF; /* Adjust color as needed */
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 416px;
}

.housepoints-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 416px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.housepoints-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.housepoints-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.housepoints-table tr:hover {
    background-color: #f1f1f1;
}

.housepoints-table td:first-child {
    font-weight: bold;
}


.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.nav{
    list-style-type: none;
    padding: 0;
}

.nav-item{
    display: block
}

.nav-link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a shadow */
    border-radius: 5px; /* Rounded corners for buttons */
    margin-bottom: 5px; /* Adds space between buttons */
}

.nav-link:hover, .nav-link:focus{
    background-color: #e9ecef;
    color: #007bff;
    text-decoration: none; /*no underlines on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .sidebar{
        width: 100%
        position: static;
    }
    .main-content{
        margin-left: 0;
    }
}

.container {
    background-image: url('../static/images/welcome_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Or the height of your image */
    width: 100vw; /* Or the width of your image */
    position: relative; /* Needed for absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    position: absolute;
    width: calc(100%-250px);
    height: 75px;
    top: 0;
    left: 20px;
    right: 0; /* Ensures the header stretches to the full width */
    z-index: 1020; /* Higher than the sidebar */
    padding: 10px 20px;
    color: black;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.slogan {
    margin-top: 95px; /* Adjust as needed to clear the header */
    text-align: center;
    /* Other styles */
}

/* Hide elements by default and only show them on the homepage */
.homepage-only {
    display: none;
}

.featured-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
}

.featured-image img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Set a maximum height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    overflow-x: hidden;
}


.title {
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    color: #DB37F5;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* Removes default margin */
    padding-top: 10vh; /* Adjust as needed */
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 30px; /* Adjust as needed */
    color: black;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* Removes default margin */
}

.button {
    display: inline-block;
    margin: 1em auto; /* Center the buttons horizontally */
    padding: 1em 2em;
    background-color: #2DA530; /* Replace with your actual button color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-button {
  top: 65%;
}

.register-button {
    top: 80%;
    /* Additional styles for register button if needed */
}

.sidebar {
    position: fixed;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    z-index: 1000;
    border-right: 2px solid #dee2e6; /* This is your vertical line */
    overflow-y: auto;
    height: 100vh;
    top: 0;
}

/* Spacing out buttons */
.sidebar .nav-link {
    margin-bottom: 100px; /* Adds space between buttons */
    width: 100%;
}

/* Profile picture placeholder styles */
.profile-picture {
    width: 100px; /* Diameter of the profile picture circle */
    height: 100px; /* Diameter of the profile picture circle */
    border-radius: 50%; /* Makes it circular */
    background-color: #adb5bd; /* Placeholder color, can be changed or replaced with an image */
}

.nav {
    padding-top: 50px; /* Adjust this value to shift buttons down */
    width: 100%; /* Ensures the nav takes full width of its parent */
    /* ... other styles ... */
}


.main-content{
    margin-top: 60px;
    margin-left: 250px;
    padding-top: 70px;
    overflow-y: auto;
    position: relative;
    width: calc(100% - 250px); /* Adjust the width according to the sidebar */
}

.event-color{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.color-option {
    display: block;
    width: 100%;
    padding: 8px; /* Or any other padding you prefer */
    box-sizing: border-box;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    display: none;  /* Hide the search box */
}

.select2-container--default .select2-results__option{
    background-color: #000; /* Change this to your preferred highlighted background color */
    color: #000; /* And this to your preferred text color for highlighted options */
}

/* Hide the edit button by default */
.fc-editCalendarButton-button {
    display: none;
}

/* Only show the button if the 'show-button' class is added */
.show-button .fc-editCalendarButton-button {
    display: inline-block;
}
