html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--delta-green);
}

:root {
    --delta-green: #A0D1B8; /* Lightened Nile green */
    --delta-white: #FFFFFF; /* Carnation white */
    --delta-purple: #5C2592; /* Purple */
    --sidebar-color: #A1E5BE; /* Sidebar color */
    --calendar-background: #FFF9DB; /* Light yellow for calendar page */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF9DB;
    margin: 0px;
}

/* Center the "All Events" header */
#calendar-header {
    background-color: #D4B3FF; /* Light blue background */
    margin: 0;
    padding: 10px 0;
    position: relative; /* Make the header fixed to the top */
    top: 0;
    left: 60%; /* Center horizontally */
    transform: translateX(-52%); /* Adjust for centering */
    width: 100%;
    max-width: 1500px; /* Adjust as needed */
    z-index: 1000;
    text-align: center; /* Center the text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fancy-header {
    font-family: 'Cursive', fraktur; /* Change to your preferred fancy font */
    font-size: 2.5em;
    color: #2c3e50; /* Slightly different color than the rest of the page */
    text-align: center;
}

.welcome-header {
    background-color: #add8e6; /* Light blue background */
    padding: 20px 0;
    width: calc(100vw - 250px); /* Full width minus the sidebar width */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    margin-top: -50px;
    z-index: 1000;
}


.todays-events-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Adjust event items in today's events */
.event-item {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 100%; /* Ensure it doesn't overflow */
}

.event-item:hover {
    background-color: #e0e0e0;
}

.event-title {
    font-weight: bold;
}

.no-events {
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.housepoints-and-events {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.todays-events-section {
    width: 45%;
    margin-right: 20px; /* Adjust as needed to shift left */
    margin-left: auto; /* Add this line to shift the section to the left */
}

/* Adjust the .housepoints-section to move it up slightly */
.housepoints-section {
    width: 45%;
    margin-top: 10px; /* Adjust as needed to move up */
    margin-bottom: 50px;
    margin-left: 20px; /* Adjust as needed to shift left */
}

/* Housepoints Section */
.housepoints-header {
    background-color: #E0BBFF; /* Adjust color as needed */
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 416px;
}

.housepoints-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 416px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.housepoints-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.housepoints-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.housepoints-table tr:hover {
    background-color: #f1f1f1;
}

.housepoints-table td:first-child {
    font-weight: bold;
}

/* Additional styles */
.alert {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.nav {
    list-style-type: none;
    padding-top: 30px; /* Adjust this value to shift buttons down */
    width: 100%; /* Ensures the nav takes full width of its parent */
}

.nav-item {
    display: block;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a shadow */
    border-radius: 5px; /* Rounded corners for buttons */
    margin-bottom: 5px; /* Adds space between buttons */
}

.nav-link:hover, .nav-link:focus {
    background-color: #e9ecef;
    color: #007bff;
    text-decoration: none; /* No underlines on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
    }
    .main-content {
        margin-left: 0;
    }
}


.container {
    background-image: url('https://storage.googleapis.com/delta-sigma-phi-website.appspot.com/images/welcome_background.png'); /* Use your actual image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative; /* Needed for absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan {
    margin-top: 95px; /* Adjust as needed to clear the header */
    text-align: center;
    /* Other styles */
}


.header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}



.header .title {
    font-size: 5rem; /* Adjust font size as needed */
    color: #5C2592; /* Use your desired color */
    margin: 5;
}

.header .subtitle {
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #333; /* Use your desired color */
    margin: 10px 0 0 0;
}




.featured-image img {
    width: 101%;
    height: auto;
    max-height: 400px; /* Set a maximum height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    color: #DB37F5;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* Removes default margin */
    padding-top: 10vh; /* Adjust as needed */
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 30px; /* Adjust as needed */
    color: black;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* Removes default margin */
}

.button {
    display: inline-block;
    margin: 1em auto; /* Center the buttons horizontally */
    padding: 1em 2em;
    background-color: #2DA530; /* Replace with your actual button color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-button {
    top: 65%;
}

.register-button {
    top: 80%;
    /* Additional styles for register button if needed */
}

.sidebar {
    position: fixed;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    left: 0;
    background-color: var(--sidebar-color); /* Use the darker light purple color */
    padding-top: 20px;
    z-index: 1000;
    border-right: 2px solid #dee2e6; /* This is your vertical line */
    overflow: hidden;
    height: 100vh;
    top: 0;
}


/* Spacing out buttons */
.sidebar .nav-link {
    margin-bottom: 100px; /* Adds space between buttons */
    font-weight: bold;
    background-color: #fff;
    width: 100%;
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#editProfilePictureLink {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

#editProfilePictureLink:hover {
    text-decoration: underline;
}

.main-content {
    margin-top: 0px;
    margin-left: 250px;
    padding-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: calc(100% - 250px); /* Adjust the width according to the sidebar */
    background-color: var(--calendar-background); /* Light yellow background for calendar page */
}

/* Adjust Calendar Position */
#calendar {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

/* Adjust the font size and padding to make the calendar appear smaller */
#calendar .fc {
    font-size: 0.75em; /* Adjust the font size as needed */
}

.google-form-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.google-form-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.google-form-button:hover {
    background-color: #357ae8;
}

/* Adjusting the key menu */
.key-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #D4B3FF; /* Same color as the rest of the calendar page */
    z-index: 999;
    position: relative;
    left: 60%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    max-width: 930px; /* Adjust as needed */
}

.key-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.key-color {
    width: 12px;
    height: 12px;
    border-radius: 3px;
}

.forms-page > div {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* or some other value */
    max-width: 1200px; /* Ensure they have a consistent max width */
}


#importantDocumentsHeader {
    position: sticky;
    top: 0;
    left: 100px; /* Adjust this value based on the width of your sidebar */
    right: 0;
    z-index: 1000;
    background-color: var(--delta-green);
    padding: 20px 0; /* Increase padding to make it larger */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(100% - 250px); /* Ensure it spans the width of the content area */
    font-size: 1.5em; /* Adjust font size as needed */
}


#thirdFormContainer,
#googleFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 50px auto;
    max-width: 1500px;
    width: 100%;
    margin-left: -20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Specific page styling */
.google-form-page
{
    padding: 20px; /* Similar padding as the google form page */
    border-radius: 20px; /* Matching border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Matching box-shadow */
    text-align: center;
    max-width: 1000px;
    margin-left: 50px;
    width: 70%;
    margin-top: 15px; /* Similar top margin */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Ensure the form header is above the grey box */
.google-form-header {
    text-align: center;
    margin-top: 20px;
}

.google-form-header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.housepoint-form-page {
    background-color: var(--calendar-background); /* Light yellow background color */
    padding: 40px; /* Add some padding to the content */
    min-height: 100vh; /* Ensure the content takes the full height of the viewport */
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}


.edit-profile-link {
    text-align: center;
    margin-top: 10px;
}

.edit-profile-link a {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.edit-profile-link a:hover {
    text-decoration: underline;
}

/* Style the iframe */
#googleFormIframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.logout-container {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.event-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.color-option {
    display: block;
    width: 100%;
    padding: 8px; /* Or any other padding you prefer */
    box-sizing: border-box;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    display: none;  /* Hide the search box */
}

.select2-container--default .select2-results__option {
    background-color: #000; /* Change this to your preferred highlighted background color */
    color: #000; /* And this to your preferred text color for highlighted options */
}

/* Hide the edit button by default */
.fc-editCalendarButton-button {
    display: none;
}

/* Only show the button if the 'show-button' class is added */
.show-button .fc-editCalendarButton-button {
    display: inline-block;
}
