<!-- app/templates/welcome.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container" style="background-image: url({{ url_for('static', filename='images/welcome_background.png') }});">
        <!-- Title and Subtitle -->
        <div class="header">
            <h1 class="title">Delta Sigma Phi</h1>
            <h2 class="subtitle">Washington State University</h2>
        </div>
        <div class="buttons">
            <!-- Buttons -->
            <a href="{{ url_for('login') }}" class="button login-button">Login</a>
            <a href="{{ url_for('register') }}" class="button register-button">Register</a>
        </div>
    </div>
</body>
</html>
